<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Main Menu</title>
    </head>
    <body style="text-align:center">
        <h1>Menu</h1>
        <div style="text-align:center">
                    <a href="/health">
                        <button class="btn btn-outline-success my-2 my-sm-0">Health</button>
                    </a>
                    <a href="/employees">
                        <button class="btn btn-outline-success my-2 my-sm-0">Employees</button>
                    </a>
                    <a href="/tasks">
                        <button class="btn btn-outline-success my-2 my-sm-0">Tasks</button>
                    </a>
                    <!-- <a href="/session">
                        <button class="btn btn-outline-success my-2 my-sm-0">Session</button>
                    </a> -->
            </form>
        </div>
    </body>

</html>


